# API Backend
VITE_API_URL=http://localhost:8001/v1

# Supabase
VITE_SUPABASE_URL=https://zujclwfgmwnfuxomyjkt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1amNsd2ZnbXduZnV4b215amt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzNjc5NDksImV4cCI6MjA4NTk0Mzk0OX0.HI_ldWTFvnC61OzWikoETeROJVrbmd5fcxCHmpf7XTQ

# Stripe (optionnel)
VITE_STRIPE_PUBLISHABLE_KEY=

# App Config
VITE_APP_NAME=MediaWatch CI
VITE_APP_ENV=development
